## A list is a Sequence Type

A <b>sequence type</b> that represent orered sets of objects indexed by non-negative integers.

Sometimes called a container â€” is simply an object that groups multiple elements into a single unit. Collections are used to store, retrieve, manipulate, and communicate aggregate data.

Are mutable.
A sequence of arbitrary objects.

In [3]:
myList = ["spam", 2.0, 5, [10,20]]
print(id(myList))
print(myList)

2160743562816
['spam', 2.0, 5, [10, 20]]

## Lists are mutable

In [9]:
myList[0] = "33"
print(id(myList))
print(myList)
myList[3][1] = "hooray"
print(myList[3])

2160743562816
['33', 33, 5, [10, 33]]
[10, 'hooray']

In [12]:
cheeses = ['Cheddar', 'Edam', 'Gouda']
print(id(cheeses))

cheeses = ['Swiss', 'Goat', 'Provolone']
print(id(cheeses))

2160743509504
2160743559232

## Traversing a list

In [18]:
for c in cheeses:
    print(c)
    
for i in range(len(cheeses)): #0, 1, 2....left inclusive
    print(cheeses[i])

Swiss
Goat
Provolone
Swiss
Goat
Provolone

## List operations

In [5]:
# The + operator concatenates lists:
a = [1, 2, 3]
b = [4, 5, 6]
c = a + b
print(c)

[1, 2, 3, 4, 5, 6]

In [6]:
# the operator * repeats a list a given number of times:
print([0] * 4)

print([1, 2, 3] * 3)

[0, 0, 0, 0]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [7]:
#The slice operator also works on lists:
t = ['a', 'b', 'c', 'd', 'e', 'f']
print(t[1:3]) #left-inclusive notation

print(t[:4])

print(t[3:])

['b', 'c']
['a', 'b', 'c', 'd']
['d', 'e', 'f']

## List methods

Most list methods are void; they modify the list and return None. If you accidentally
write t = t.sort(), you will be disappointed with the result.

In [8]:
t1 = ['a', 'b', 'c']
t2 = ['d', 'e']
t1.extend(t2)
print(t1)

['a', 'b', 'c', 'd', 'e']

In [9]:
t = ['d', 'c', 'e', 'b', 'a']
t.sort()
print(t)

['a', 'b', 'c', 'd', 'e']

## Deleting elements

In [10]:
t = ['a', 'b', 'c']
x = t.pop(1)
print(t)

print(x)

['a', 'c']
b

In [12]:
t = ['a', 'b', 'c']
del t[1]
print(t)

t = ['a', 'b', 'c', 'd', 'e', 'f']
del(t[1:5])
print(t)

['a', 'c']
['a', 'f']

In [13]:
t = ['a', 'b', 'c']
t.remove('b')
print(t)

['a', 'c']

## Lists and Functions

In [11]:
def chop(l):
    del l[len(l)-1]  #uses caller's list reference
    del l[0]
    
def middle(l):
    newList = l[1:]     #slice operator creates a new list
    del newList[len(newList)-1]
    return newList
          
words = "now is the time for all good men"
wlist = words.split()
print(wlist)
print(chop(wlist))
print(wlist)

print(middle(wlist))

['now', 'is', 'the', 'time', 'for', 'all', 'good', 'men']
None
['is', 'the', 'time', 'for', 'all', 'good']
['the', 'time', 'for', 'all']

## A Tuple is a Sequence Type

A <b>tuple</b> is a sequence of values much like a list. The values stored in a tuple can
be any type, and they are indexed by integers. The important difference is that
tuples are immutable.
<br>
Tuples are also comparable and hashable so we can sort lists
of them and use tuples as key values in Python dictionaries.
Syntactically, a tuple is a comma-separated list of values:

In [2]:
t = 'a', 'b', 'c', 'd', 'e'
t = ('a', 'b', 'c', 'd', 'e') #it is common to enclose tuples in parentheses
print(t)
print(type(t))
print(t[0], t[-1])

('a', 'b', 'c', 'd', 'e')
<class 'tuple'>
a e

In [5]:
t1 = ('a',) #To create a tuple with a single element, you have to include the final comma:

## Tuple Assignment

In [ ]:
price, quantity , fruit = (19.95, 12, "banana")
print(price, quantity, fruit)

fruit, quantity, price = price,quantity,fruit
print(price, quantity, fruit)

If the argument is a sequence (string, list, or tuple), the result of the call to tuple
is a tuple with the elements of the sequence:

In [1]:
t = tuple("hello")
print(t)

l = t[1:3] #slice operator selects a range of elements
print (l)

m = ["have", "fun"]
(x,y) = m
print(x)
print(y)

('h', 'e', 'l', 'l', 'o')
('e', 'l')
have
fun

## Returning Multiple Values with Tuples

In [1]:
def readDate():
    print("Enter a date")
    month = int(input(" month: "))
    day = int(input(" day: "))
    year = int(input(" year: "))
    return (month, day, year)

date = readDate()
print(type(date))
print(date)


date = ("July", "15", 2020)
for d in date:
    print(d)

month, day, year = readDate()
print(f"{month}/{day}/{year}")

Enter a date
 month: 2
 day: 1
 year: 2020
<class 'tuple'>
(2, 1, 2020)
July
15
2020
Enter a date
 month: 2
 day: 1
 year: 2020
2/1/2020

Because tuples are hashable and lists are not, if we want to create a composite key
to use in a dictionary we must use a tuple as the key.
We would encounter a composite key if we wanted to create a telephone directory
that maps from last-name, first-name pairs to telephone numbers. Assuming that
we have defined the variables last, first, and number, we could write a dictionary
assignment statement as follows.
The expression in brackets is a tuple. We could use tuple assignment in a for loop
to traverse this dictionary.

In [4]:
directory = dict()
directory[("Sparrow","Jack")] = ("970-111-2345", "000-blak-pearl")
print(directory["Sparrow","Jack"])

for last, first in directory:
    print(first, last, directory[last,first])

('970-111-2345', '000-blak-pearl')
Jack Sparrow ('970-111-2345', '000-blak-pearl')